# depends on cluster version
# we have 1.30 - 1.31 atm
# compare with https://github.com/kubernetes-client/python?tab=readme-ov-file#compatibility-matrix-of-supported-client-versions
# sync with requirements-docker.txt
kubernetes>=31,<32
pygeoapi==0.20.0
